<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<link rel="style" media="all" href="/tonon/public/style/style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script src="/js/async_blogposts.js"></script>
<style>
    .btn {
        background-color: darkolivegreen;
        position: relative;

    }
    .main {
        position: absolute;
        top: 400px;
    }
    .comment-box{
        position: relative;
        margin-top: 1200px;

    }
h3{
    position: absolute;
    margin-top: 1190px;
}


.btn:hover
{
    background-color: forestgreen;
}
</style>
<br>



<div id="content-container" class="content-container">

</div>

<template>
    <h1></h1>
    <img src="https://picsum.photos/300/500" width="300">
    <h4>by: </h4>
    <br>
    <p></p>
    <h5></h5>

</template>
<br>
<a href="https://tonon.test/comment/add" class="btn btn-primary" >comment</a>
<a href="https://tonon.test/comment/delete" class="btn btn-primary" >delete</a>