<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?= $title?></title>
    <link rel="style" media="all" href="/tonon/public/style/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style> a:hover {
    background-color: darkgray;
}
</style>
</head>

<body class="container">

<div class="header">
    <h1><i>TIMONS BLOG</i></h1>

</div>
<div class="menu">
    <nav class="nav nav-pills flex-column flex-sm-row" style="background-color: darkolivegreen;">
        <a class="flex-sm-fill text-sm-center nav-link" style="color: black" href="https://tonon.test/home">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" style="color: black" href="https://tonon.test/blog/add">Add Post</a>
        <a class="flex-sm-fill text-sm-center nav-link" style="color: black" href="https://tonon.test/blog/show">Show Post</a>
    </nav>
</div>

<div class="sidebar-left">

</div>
<div class="main">
    {{content}}
</div>

<div class="footer">
    <a>Impressum</a>
    <a>About Me</a>
    <a style="color: black" href="/auth/login">Login</a>
    <a style="color: black" href="https://tonon.test/auth/register" id="register">Want write a blogpost?</a>
</div>
</body>
</html>
