<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="style" media="all" href="/tonon/public/style/style.css" />
    <title>Register</title>
</head>
<body>
<form action="/auth/register" method="post">
    <form class="form-signin">
        <div class="form-label-group">

            <label for="form_username">Email</label>
            <input type="email" id="form_username" name="username" class="form-control" placeholder="Email address" required autofocus>
            <label for="form_password">select a Password</label>
            <input type="password" id="form_password" name="password" class="form-control" placeholder="password" required autofocus>
            <label for="again_password">confirm Password</label>
            <input type="password" id="again_password" name="confirmpassword" class="form-control" placeholder="password" required autofocus>

            <input type="submit" value="Register">
        </div>
    </form>
</form>
</body>
</html>