<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/auth/register" method="post">
    <form class="form-signin">
        <div class="form-label-group">
            <input type="email" id="form_username" name="username" class="form-control" placeholder="Email address" required autofocus>
            <label for="form_username">Username</label>
            <input type="email" id="form_password" name="password" class="form-control" placeholder="password" required autofocus>
            <label for="form_password">Password</label>
            <br>
            <input type="submit" value="Login">
        </div>
    </form>
</form>
</body>
</html>