<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <style>
        .dropdown {
            text-align: center;
            position: fixed;
            background-color: transparent;
            top: 0; left: 0; bottom: 0; right: 0;
        }
        .header{
            text-align: right;
            position: fixed;
            background-color: transparent;
            top: 0; left: 0; bottom: 0; right: 0;

        }
        .menu{
            display: none;
        }
        a{border-style: none;}
    </style>
</head>

<div class="dropdown">
    <button class="dropbtn" style="color: black"><i class="fa fa-fw fa-home"></i></button>
    <div class="dropdown-content">
        <a class="flex-sm-fill text-sm-center nav-link" style="color: black" href="https://tonon.test/home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" style="color: black" href="https://tonon.test/blog/add"><i class="fa fa-fw fa-user"></i>Add Post</a>
        <a class="flex-sm-fill text-sm-center nav-link" style="color: black" href="https://tonon.test/auth/login"><i class="fa fa-fw fa-user"></i>Login</a>
        <a class="flex-sm-fill text-sm-center nav-link" style="color: black" href="https://tonon.test/auth/logout"><i class="fa fa-fw fa-user"></i>Logout</a>
    </div>
</div>

</html>