<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card text-center" >
        <div class="card-header">
            Blog 1
        </div>
        <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap" height="250" >
        <div class="card-body">
            <h5 class="card-title">Want learn more about Blog 1?</h5>
            <p class="card-text">Here you can find more informations.</p>
            <a href="https://tonon.test/blog/show/neu" class="btn btn-primary">Show neu</a>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</body>
</html>