<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .header {
        position: fixed;
        top: 0; right: 0;
    }


</style>
<body>
<img src="/image/IMG_20200229_181457.jpg" alt="me">
<br>
<h3>I am Timon</h3>
<br>
<i>Computer science student.</i>
<br>
<br>
<p> Through my studies, I immersed myself deeper in the various areas of computer science and so far, I have gained experience in implementing and designing websites. I noticed that the world of web development is the one that attracts my interests the most, because I can express myself there creatively and technically and thus do something good for people. Learning from mistakes and the constant optimization of working methods are characteristics that describe my person a bit. I like to have big challenges to gain experience and to always learn something new through other people and situation</p>
<br>

</body>
</html>