<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .file-box {
            background-color: darkolivegreen;


        }
        .btn {
            background-color: darkolivegreen;


        }
        .btn:hover
        {
            background-color: forestgreen;
        }
        .img-box{

        }
        h3 {
            color: black;
            text-align: center;
            font-style: italic;
        }

    </style>
</head>
<body>
<a href="https://tonon.test/blog/add" class="btn btn-primary" >add</a>
<a href="https://tonon.test/blog/delete" class="btn btn-primary" >delete</a>


</body>
</html>