<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div class="card text-center" >
        <div class="card-header">
           MVC MADE EASY
        </div>

        <img class="card-img-top" src="/image/8424683.jpg" alt="Card image cap" height="175" >
        <div class="card-body">
            <h5 class="card-title">Want learn more about Blog MVC?</h5>
            <p class="card-text"><?= $entry->text?></p>
            <a href="https://tonon.test/blog/show/mvc-made-easy" class="btn btn-primary">Show mvc</a>
        </div>

        <div class="card-footer text-muted">

        </div>
    </div>
    <div class="card text-center" >
        <div class="card-header">
            Blog 2
        </div>
        <img class="card-img-top" src="/image/8424683.jpg" alt="Card image cap" height="175" align="center" >
        <div class="card-body">
            <h5 class="card-title">Want learn more about Blog 2?</h5>
            <p class="card-text">Here you can find more.</p>
            <a href="https://tonon.test/blog/show/mvc-made-easy" class="btn btn-primary">Show mvc</a>
        </div>

        <div class="card-footer text-muted">

        </div>
    </div>
    <div class="card text-center" >
        <div class="card-header">
            Blog 3
        </div>
        <img class="card-img-top" src="/image/8424683.jpg" alt="Card image cap" height="175" >
        <div class="card-body">
            <h5 class="card-title">Want learn more about Blog 3?</h5>
            <p class="card-text">Here you can find more.</p>
            <a href="https://tonon.test/blog/show/how-to-blog" class="btn btn-primary">Show how to blog</a>
        </div>

        <div class="card-footer text-muted">

        </div>
    </div>
</body>
</html>