<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>

.card-img{
    max-height: 300px;
   margin: auto;

}
</style>
</head>
<body>
    <div class="card text-center" >
        <div class="card bg-dark text-white">
        <div class="card-header">
           HOW TO BLOG
        </div>

        <img class="card-img" src="image/IMG_20200419_190740.jpg" alt="Card image cap" >
        <div class="card-body">
            <h5 class="card-title">Want learn more about How to BLog?</h5>
            <p class="card-text"><?= $entry->text?></p>
            <a href="https://tonon.test/blog/show/how-to-blog" class="btn btn-primary">Show</a>
        </div>

        <div class="card-footer text-muted">


        </div>
        </div>
    </div>
    <div class="card text-center" >
        <div class="card bg-dark text-white">
            <div class="card-header">
                MVC MADE EASY
            </div>

            <img class="card-img" src="image/8424683.jpg" alt="Card image cap" >
            <div class="card-body">
                <h5 class="card-title">Want learn more about Blog MVC?</h5>
                <p class="card-text">Its so funny</p>
                <a href="https://tonon.test/blog/show/mvc-made-easy" class="btn btn-primary">Show</a>
            </div>

            <div class="card-footer text-muted">


            </div>
        </div>
    </div>

</body>
</html>